@keyframes fadeInDown {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom right, rgba(255, 126, 95, 0.5), rgba(254, 180, 123, 0.5)),
                url('valorous.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    position: relative;
  }
  
  body::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit;
    filter: blur(10px) brightness(1.1);
    z-index: -1;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.8), 0 0 30px rgba(255, 255, 255, 0.8), 0 0 40px rgba(255, 255, 255, 0.8);
  }
  
  .card {
    border-radius: 10px;
    animation: fadeInDown 1s ease-out;
    z-index: 1;
    background: rgba(255, 255, 255, 0.2); /* Semi-transparent background */
    backdrop-filter: blur(10px); /* Glass effect */
    border: 1px solid rgba(255, 255, 255, 0.3); /* Border to enhance glass effect */
  }
  
  h1 {
    font-size: 2rem;
    font-weight: bold;
    color: #343a40;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.8), 0 0 30px rgba(255, 255, 255, 0.8);
  }
  
  .form-group label {
    font-weight: bold;
    color: #fff; /* Make label text white for better contrast */
  }
  
  .form-control {
    border-radius: 5px;
  }
  
  .btn {
    border-radius: 20px;
  }
  
  #total-points {
    font-size: 1.5rem;
    font-weight: bold;
    color: #007bff;
    margin-top: 20px; /* Margin to create space within the form */
  }
  
  .result-detail p {
    font-size: 1.25rem;
    color: #343a40;
    margin: 10px 0;
  }
  
  .watermark {
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-size: 1rem;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.8);
  }
  
  .modal-content {
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.9); /* Slightly transparent background */
    backdrop-filter: blur(5px); /* Glass effect */
    border: 1px solid rgba(255, 255, 255, 0.2); /* Border to enhance glass effect */
  }
  
  .modal-header {
    border-bottom: none; /* Remove default header border */
  }
  
  .modal-title {
    font-size: 1.75rem;
    font-weight: bold;
    color: #343a40;
  }
  
  .modal-footer {
    border-top: none; /* Remove default footer border */
  }
  
  .close {
    color: #343a40;
  }
  
